# Downloading Historical Equity Price Data With the OpenBB Platform

This notebook demonstrates some of the ways to approach loading historical price data using the OpenBB Platform.  The action is in the Equity module; but first, we need to initialize the notebook with the import statements block.

## Import Statements

In [1]:
from datetime import datetime, timedelta

import pandas as pd
from openbb import obb

## The Equity Module

The `historical` function is likely the first place to reach when requesting daily, or intraday, historical price data.

### openbb.equity.price.historical()

- This endpoint has the most number of providers out of any function. At the time of writing, choices are:

['alpha_vantage', 'cboe', 'fmp', 'intrinio', 'polygon', 'tiingo', 'yfinance']

- Common parameters have been standardized across all souces, `start_date`, `end_date`, `interval`.

- The default interval will be `1d`.

- The depth of historical data and choices for granularity will vary by provider and subscription status.  Refer to the website and documentation of each source understand your specific entitlements.

- For demonstration purposes, we will use the `openbb-yfinance` data extension.

In [2]:
df_daily = obb.equity.price.historical(symbol = "spy", provider="yfinance")
df_daily.to_df().head(1)

,open,high,low,close,volume,dividends,stock splits,capital gains
date,,,,,,,,
2022-11-21,394.64,395.82,392.66,394.59,51243200,0.0,0.0,0.0

To load the entire history available from a source, pick a starting date well beyond what it might be. For example, `1900-01-01`

In [3]:
df_daily = obb.equity.price.historical(symbol = "spy", start_date = "1990-01-01", provider="yfinance").to_df()
df_daily.head(1)

,open,high,low,close,volume,dividends,stock splits,capital gains
date,,,,,,,,
1993-01-29,43.97,43.97,43.75,43.94,1003200,0.0,0.0,0.0

#### Intervals

The intervals are entered according to this pattern:

- `1m` = One Minute
- `1h` = One Hour
- `1d` = One Day
- `1W` = One Week
- `1M` = One Month

The date for monthly value is the first or last, depending on the provider.  This can be easily resampled from daily data.

In [4]:
df_monthly = obb.equity.price.historical("spy", start_date="1990-01-01", interval="1M", provider="yfinance").to_df()
df_monthly.tail(2)

,open,high,low,close,volume,dividends,stock splits,capital gains
date,,,,,,,,
2023-10-01,426.62,438.14,409.21,418.20,1999149700,0.0,0.0,0.0
2023-11-01,419.20,455.12,418.65,454.26,1105512386,0.0,0.0,0.0

#### Resample a Time Series

`yfinance` returns the monthly data for the first day of each month.  Let's resample it to take from the last, using the daily information captured in the previous cells.

In [5]:
(
    df_daily[["open", "high", "low", "close", "volume"]]
    .resample("M")
    .agg(
        {"open": "first", "high": "max", "low": "min", "close": "last", "volume": "sum"}
    )
)

              open    high     low   close      volume
date
1993-01-31   43.97   43.97   43.75   43.94     1003200
1993-02-28   43.97   45.12   42.81   44.41     5417600
1993-03-31   44.56   45.84   44.22   45.19     3019200
1993-04-30   45.25   45.25   43.28   44.03     2697200
1993-05-31   44.09   45.66   43.84   45.22     1808000
...            ...     ...     ...     ...         ...
2023-07-31  442.92  459.44  437.06  457.79  1374632400
2023-08-31  456.27  457.25  433.01  450.35  1754764700
2023-09-30  453.17  453.67  422.29  427.48  1588673200
2023-10-31  426.62  438.14  409.21  418.20  1999149700
2023-11-30  419.20  455.12  418.65  454.26  1105512386

[371 rows x 5 columns]

The block below packs an object with most intervals.

In [8]:
class HistoricalPrices:
    def __init__(self, symbol, start_date, end_date, provider, **kwargs) -> None:
        self.one: pd.DataFrame = obb.equity.price.historical(
            symbol=symbol, start_date=start_date, end_date=end_date, interval = "1m", provider=provider, **kwargs
        ).to_df().convert_dtypes()
        self.five: pd.DataFrame = obb.equity.price.historical(
            symbol=symbol, start_date=start_date, end_date=end_date, interval = "5m", provider=provider, **kwargs
        ).to_df().convert_dtypes()
        self.fifteen: pd.DataFrame = obb.equity.price.historical(
            symbol=symbol, start_date=start_date, end_date=end_date, interval = "15m", provider=provider, **kwargs
        ).to_df().convert_dtypes()
        self.thirty: pd.DataFrame = obb.equity.price.historical(
            symbol=symbol, start_date=start_date, end_date=end_date, interval = "30m", provider=provider, **kwargs
        ).to_df().convert_dtypes()
        self.sixty: pd.DataFrame = obb.equity.price.historical(
            symbol=symbol, start_date=start_date, end_date=end_date, interval = "60m", provider=provider, **kwargs
        ).to_df().convert_dtypes()
        self.daily: pd.DataFrame = obb.equity.price.historical(
            symbol=symbol, start_date=start_date, end_date=end_date, interval = "1d", provider=provider, **kwargs
        ).to_df().convert_dtypes()
        self.weekly: pd.DataFrame = obb.equity.price.historical(
            symbol=symbol, start_date=start_date, end_date=end_date, interval = "1W", provider=provider, **kwargs
        ).to_df().convert_dtypes()
        self.monthly: pd.DataFrame = obb.equity.price.historical(
            symbol=symbol, start_date=start_date, end_date=end_date, interval = "1M", provider=provider, **kwargs
        ).to_df().convert_dtypes()

def load_historical(
    symbol: str = "",
    start_date: str = "",
    end_date: str = "",
    provider: str = "",
    **kwargs
) -> HistoricalPrices:

    if symbol == "":
        display("Please enter a ticker symbol")
    if start_date == "":
        start_date = (datetime.now() - timedelta(weeks = 156)).date()
    if end_date == "":
        end_date = datetime.now().date()
    if provider == "":
        provider = "yfinance"
    prices = HistoricalPrices(symbol, start_date, end_date, provider, **kwargs)

    return prices

prices = load_historical("spy", start_date="1900-01-01")
display(prices.__dict__.keys())
prices.weekly.tail(2)

To demonstrate the difference between sources, let's compare values for daily volume from several sources.

In [11]:
# Collect the data

yahoo = obb.equity.price.historical("spy", provider="yfinance").to_df()
alphavantage = obb.equity.price.historical("spy", provider = "alpha_vantage").to_df()
intrinio = obb.equity.price.historical("spy", provider="intrinio").to_df()
fmp = obb.equity.price.historical("spy", provider="fmp").to_df()

# Make a new DataFrame with just the volume columns
compare = pd.DataFrame()
compare["AV Volume"] = alphavantage["volume"].tail(10)
compare["FMP Volume"] = fmp["volume"].tail(10)
compare["Intrinio Volume"] = intrinio["volume"].tail(10)
compare["Yahoo Volume"] = yahoo["volume"].tail(10)

compare

             AV Volume  FMP Volume  Intrinio Volume  Yahoo Volume
date
2023-11-07  64256114.0    64256114       64256114.0      64256100
2023-11-08  61746027.0    61731027       61746027.0      61746000
2023-11-09  83174417.0    83071417       83174417.0      83174400
2023-11-10  89558054.0    89558054       89558054.0      89462200
2023-11-13  52236068.0    52192568       52236068.0      52236100
2023-11-14  97176935.0    97130503       97176935.0      97176900
2023-11-15  77327573.0    77327573       77327573.0      77327600
2023-11-16  66665797.0    66654468       66665797.0      66665800
2023-11-17  83193902.0    83193902       83193902.0      83133200
2023-11-20  67405292.0    68939595       67405292.0      69384586

## Other Types of Symbols

Other types of assets and ticker symbols can be loaded from `obb.equity.price.historical()`, below are some examples but not an exhaustive list.

### Share Classes

Some sources use `-` as the distinction between a share class, e.g., `BRK-A` and `BRK-B`. Other formats include:

- A period: `BRK.A`
- A slash: `BRK/A`
- No separator, the share class becomes the fourth or fifth letter.

```python
obb.equity.price.historical("brk.b", provider="polygon")
```

```python
obb.equity.price.historical("brk-b", provider="fmp")
```

While some providers handle the different formats on their end, others do not.  This is something to consider when no results are returned from one source.  Some may even use a combination, or accept multiple variations.  Sometimes there is no real logic behind the additional characters, `GOOGL` vs. `GOOG`.  These are known unknown variables of ticker symbology, what's good for one source may return errors from another. 

### Regional Identifiers

With providers supporting market data from multiple jurisdictions, the most common method for requesting data outside of US-listings is to append a suffix to the ticker symbol (e.g., `RELIANCE.NS`).  Formats may be unique to a provider, so it is best to review the source's documentation for an overview of their specific conventions.  [This page](https://help.yahoo.com/kb/SLN2310.html) on Yahoo describes how they format symbols, which many others follow to some degree.

### Indexes

Sources will have their own treatment of these symbols, some examples are:

- YahooFinance/FMP/CBOE: ^RUT
- Polygon: I:NDX

### Currencies

FX symbols face the same dilemna as share classes, there are several variations of the same symbol.

- YahooFinance: `EURUSD=X`
- Polygon: `C:EURUSD`
- AlphaVantage/FMP: `EURUSD`

**The symbol prefixes are handled internally when `obb.currency.price.historical()` is used, enter as a pair with no extra characters.**

### Crypto

Similar, but different to FX tickers.

- YahooFinance: `BTC-USD`
- Polygon: `X:BTCUSD`
- AlphaVantage/FMP: `BTCUSD`

**The symbol prefixes are handled internally when `obb.crypto.price.historical()` is used, enter as a pair with no extra characters and placing the fiat currency second.**

### Futures

Historical prices for active contracts, and the continuation chart, can be fetched via `yfinance`.

- Continuous front-month: `CL=F`
- December 2023 contract: `CLZ24.NYM`
- March 2024 contract: `CLH24.NYM`

Individual contracts will require knowing which of the CME venues the future is listed on. `["NYM", "NYB", "CME", "CBT"]`.

### Options

Individual options contracts are also loadable from `openbb.equity.price.historical()`.

- YahooFinance: `SPY241220P00400000`
- Polygon: `O:SPY241220P00400000`

These examples represent only a few methods for fetching historical price data.  Explore the contents of each module to find more!

In [14]:
obb.equity.price.historical("SPY241220P00400000", provider="yfinance").to_df()

             open   high    low  close  volume  dividends  stock splits
date
2022-11-21  44.58  45.63  44.53  45.63      27        0.0           0.0
2022-11-22  43.08  44.24  43.00  43.00     287        0.0           0.0
2022-11-23  41.58  42.45  39.00  39.00       6        0.0           0.0
2022-11-28  42.50  42.90  42.50  42.90      18        0.0           0.0
2022-11-30  41.00  41.00  41.00  41.00       1        0.0           0.0
...           ...    ...    ...    ...     ...        ...           ...
2023-11-14  12.10  12.10  11.20  11.40    2193        0.0           0.0
2023-11-15  11.04  11.55  10.94  11.35      52        0.0           0.0
2023-11-16  11.41  11.88  11.27  11.70     264        0.0           0.0
2023-11-17  11.50  11.50  11.19  11.40       0        0.0           0.0
2023-11-20  11.00  11.10  10.50  10.76     121        0.0           0.0

[238 rows x 7 columns]

In [24]:
obb.equity.price.historical("^RUT", provider="cboe").to_df()

               open     high      low    close  volume
date
2020-11-27  1846.26  1855.27  1845.50  1855.27       0
2020-11-30  1854.87  1854.87  1813.56  1819.82       0
2020-12-01  1822.92  1848.02  1822.92  1836.05       0
2020-12-02  1833.08  1842.53  1817.02  1838.03       0
2020-12-03  1838.52  1860.35  1838.52  1848.70       0
...             ...      ...      ...      ...     ...
2023-11-14  1741.74  1798.32  1741.74  1798.32       0
2023-11-15  1798.20  1830.00  1797.59  1801.22       0
2023-11-16  1797.00  1797.00  1767.42  1773.76       0
2023-11-17  1784.86  1798.44  1784.86  1797.77       0
2023-11-20  1796.38  1808.88  1789.77  1804.79       0

[750 rows x 5 columns]

In [22]:
obb.equity.price.historical("^RUT", provider="fmp").to_df()

,open,high,low,close,volume,vwap,label,adj_close,unadjusted_volume,change,change_percent,change_over_time
date,,,,,,,,,,,,
2022-11-21,1842.959961,1842.959961,1828.989990,1839.140015,3850690000,1837.03,"November 21, 22",1839.140015,3.850690e+09,-3.81995,-0.20727,-0.002073
2022-11-22,1843.869995,1861.079956,1840.040039,1860.439941,3887990000,1853.85,"November 22, 22",1860.439941,3.887990e+09,16.56995,0.89865,0.008986
2022-11-23,1857.589966,1868.920044,1851.680054,1863.520020,3279720000,1861.37,"November 23, 22",1863.520020,3.279720e+09,5.93005,0.31923,0.003192
2022-11-25,1862.920044,1873.589966,1861.000000,1869.189941,1706460000,1867.93,"November 25, 22",1869.189941,1.706460e+09,6.26990,0.33656,0.003366
2022-11-28,1857.180054,1857.520020,1827.079956,1830.959961,3615430000,1838.52,"November 28, 22",1830.959961,3.615430e+09,-26.22009,-1.41000,-0.014100
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-11-14,1741.739990,1798.319950,1741.739990,1798.319950,4700350000,1770.03,"November 14, 23",1798.319950,4.700350e+09,56.57996,3.25000,0.032500
2023-11-15,1798.199950,1830.000000,1797.589970,1801.219970,4347170000,1806.75,"November 15, 23",1801.219970,4.347170e+09,3.02002,0.16795,0.001680
2023-11-16,1797.000000,1797.000000,1767.420040,1773.760010,3964520000,1783.80,"November 16, 23",1773.760010,3.964520e+09,-23.23999,-1.29000,-0.012900
2023-11-17,1784.859990,1798.439940,1784.859990,1794.449950,3777240000,1790.65,"November 17, 23",1797.770020,3.777240e+09,9.58996,0.53729,0.005373
2023-11-20,1798.563350,1809.209720,1794.712520,1807.083620,0,1803.67,"November 20, 23",1807.083620,0.000000e+00,8.52027,0.47373,0.004737